<html>
    <head>
     <link rel="stylesheet" href="/css/post.css">
    </head>
     <body>
         <div class="postDesign">

          
        <li id="post-<%=post._id%>" class="onlyPosts">
               <p><%= post.user.name%><p>
            <p><%= post.content %></p>
          
        
         <% if(locals.user && locals.user.id==post.user.id){%>
           
        
        <p>   
              <a class="delete-post-button" href="/post/destroy/<%=post._id%>"><i class="fa-solid fa-trash"></i></a>  
         
             <% }%>
            
                <% if (locals.user){ %>
                    <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                            <%= post.likes.length %> <i class="fa-regular fa-thumbs-up"></i>
                    </a>
                <% }else{ %>
                    <%= post.likes.length %> L<i class="fa-regular fa-thumbs-up"></i>
                <% } %>
    
               </p>
      
         
        
        
        
               <div class="commentContainer">
        
               <%if(locals.user){%>
                <form action="/comments/create" id="newCommentForm" method="post">
                    <div class="addComment">
                        <input type="text" class="content" name="content" id="content" placeholder="Add your comment">
                        <input type="submit" class= "submit" value="Add Comment">  
                        <input type="hidden" name="post" id="post" value="<%= post._id %>">
                    </div>
                     
                    
                   
                      
        
                 </form>
        
               <%}%>
                </div>
               <div class="showComments">
                <ul class="ListOfComments-post-<%=post._id%>">
                    <%for(comment of post.comments){%>
                        <%-include("_comment")%>
        
                    <%}%>
                </ul>
               </div>
                 
            </li>
           
     </div>
     </body>
  

</html>
