<h4> Profile page </h4>
 <img src="<%=user.avatar%>" alt="Image" width="100px" height="100px" >


<% if(user.id==profile_user.id){%>
    <form action="/users/update/<%=profile_user._id %>" enctype="multipart/form-data" method="post">
      <input type="text" name="name" placeholder="YourName" value="<%=profile_user.name %>" required="true"> ; 
      <input type="email" name="email" placeholder="YourEmail" value="<%=profile_user.email %>" required="true">
      <input type="file" name="avatar" placeholder="Profile Picture">
      <input type="submit" value="Change">
    </form>

<%}else{%>
    <p><%=profile_user.name%></p>
    <p><%= profile_user.email %></p> 
<%}%>